body {
  text-align: center;
  font-family: "Arial", Helvetica, sans-serif;
  background-image: url("lain2.png");
  background-repeat: no-repeat;
  background-size: cover;
  /*
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
  */
}

#gameBody {
  background-image: url("back3.png");
  background-size: 100% 100%;
}

h1 {
  padding-top: 5%;
  font-size: 5rem;
  text-align: center;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  
}

#projectsCustom {
  font-weight: bold;
  color: black;
}

h2 {
  display: inline-block;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 2.5rem;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

h3 {
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

h4 {
text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;

}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: black;
}

p {
  padding-right: 20%;
  padding-left: 20%;
  font-size: 1.1rem;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.projects {
  text-align: center;
}

.projects a {
  text-decoration: none;
  color: inherit;
}

.project-item {
  background: radial-gradient(white, gray);
  box-shadow: 7px 7px 5px #404040;
  border: 2px solid black;
}

.project-item:hover {
  background: radial-gradient(white, #4088FF);
}

.project-item-title {
  border-bottom: black solid 3px;
}

.project-item-title h4 {
  margin: 0;
  padding: 0;
  border: none;
}

.project-item-content {
  overflow: auto;
}

.project-item img, .project-item p {
  margin: 0;
  padding: 0;
  width: 50%;
  height: 75%;
}